:root {
    --circle-boarder: 14px solid #333;
}

.circle-image {
    height: 100%;
}

#circle-s {
    display: flex;
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    border: var(--circle-boarder);
    border-radius: 50%;
}

#circle-m {
    display: flex;
    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 300px;
    border: var(--circle-boarder);
    border-radius: 50%;
}

#circle-l {
    display: flex;
    width: 400px;
    min-width: 400px;
    height: 400px;
    min-height: 400px;
    border: var(--circle-boarder);
    border-radius: 50%;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-direction {
    display: flex;
    flex-direction: row;
}