.div-1 {
    height:200px; 
    width:200px;
    background-color:black; 
    margin:100px;
}

.div-2 {
    height:200px;
    width:200px;
    background-color:yellow;
    border-radius:50%;
    margin:100px;
}