.container1,
.container2,
.container3,
.dropcontainer{
    max-width: 22.5%;
    min-width: 22.5%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: inherit;
}

.dropdown-content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    top: 40%;
    z-index: 100000;
    background-color: inherit;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100%;
    z-index: 10000000;
    position: relative;
}

.imageContainer img {
    width: 100px;
    height: 100px;
    position: absolute;
}