.container1{
    width: 22.5%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
}

.container2{
    width: 22.5%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
}

.container3{
    width: 22.5%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
}

.dropcontainer{
    width: 22.5%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
}

.dropdown-content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    top: 40%;
    z-index: 100000;
    background-color: inherit;
}

.imageContainer {
    width: 10%;
    height: 100%;
    justify-content: center;
}

.LogoHeaderImage {
    width: 8rem;
    height: 8rem;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}