.container1,
.container2,
.container3{
    max-width: 22.5%;
    min-width: 22.5%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
    z-index: 100000;
}

.dropcontainer {
    display: inline-block;
    position: relative;
    max-width: 22.5%;
    min-width: 22.5%;
    text-align: center;
    background-color: inherit;
}

.drop-content-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: inherit;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 100000;
}

.dropdown-content {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: black;
    border: solid 1px;
    text-align: center;
    z-index: 100000;
    background-color: inherit;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    z-index: 100000;
    position: relative;
}

.imageContainer img {
    width: 200px;
    height: 100px;
    position: absolute;
}