.first_column{ 
    width: 33.333%;
    height: 200px;
    background-color: var(--secondary-bg-color);
    position: relative;
}
.second_column{
     width: 33.333%;
    height: 200px;
    background-color: var(--secondary-bg-color);
    position: relative;
}
.second_column:after{
    content: '';
    border-left: 2px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
}

.third_column{
   width: 33.333%;
   height: 200px;
   background-color: var(--secondary-bg-color);
   position: relative;
}
.third_column:after{
  content: '';
  border-left: 2px solid var(--footer-line-color);
  position: absolute;
  height: calc(100% - var(--footer-spacing));
  top: calc(var(--footer-spacing)/2);
}

.Bar{
    width: 100%;
    height: 50px; 
    background-color: var(--secondary-bg-color); 
    position: relative;
}
.Bar:after{
    content: '';
    border-top: 2px solid white;
    position: absolute;
    width: calc(100% - var(--footer-spacing));
    left: calc(var(--footer-spacing)/2) ;
 }

 @media only screen and (max-width: 1200px){
    .first_column{
        width: 50%;
    }
    .second_column{
        width: 50%;
    }
    .third_column{
        width: 100%;
        position: relative;
        border-left: none;
    }
    .third_column:after{
        border-left: none;
        content: '';
        border-top: 2px solid var(--footer-line-color);
        position: absolute;
        width: calc(100% - var(--footer-spacing));
        left: calc(var(--footer-spacing)/2) ;
        top: 0;

    }
 }