
.first_column{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    height: 80%;
    background-color: var(--secondary-bg-color);
    position: relative;
}

.second_column{
    display: flex;
    flex-wrap: wrap;
    width: 33.3333%;
    height: 80%;
    background-color: var(--secondary-bg-color);
    position: relative;
}

.second_column:before{
    content: '';
    border-left: 1px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
    left: 0;
}


.second_column:after{
    content: '';
    border-left: 1px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
    right: 0;
}

.third_column{
    display: flex;
    width: 33.3333%;
    height: 80%;
    background-color: var(--secondary-bg-color);
    position: relative;
}

.Bar{
    display: flex;
    width: 100%;
    height: 20%; 
    background-color: var(--secondary-bg-color); 
    position: relative;
}
.Bar:after{
    content: '';
    border-top: 1px solid var(--footer-line-color);
    position: absolute;
    width: calc(100% - var(--footer-spacing));
    left: calc(var(--footer-spacing)/2) ;
 }

 .mission-statement-title{
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    font-size: larger;
    padding-top: 10px;
 }


 .text-box{
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
 }

 .menu-footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: x-small; 
    margin: auto;
 }

 .menu-footer:visited{
    text-decoration: none;
    color:white;
 }
 
 .button {
    background-color: var(--saratoga-red);
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: var(--saratoga-red);
    transition-duration: 0.4s;
    color: white;
  }

  .button:hover{
    background-color: white;
    color: var(--saratoga-red);
  }


  .link-styles:link{
    text-align: center;
    color:black;
    text-decoration: none;
  }

  .link-styles:visited{
    color: black;
    text-decoration: none;
  }

  .link-styles:hover{
    text-decoration: underline;
  }
 
  .list-format{
    text-align: center;
    display: inline-block;
    list-style-position: left;
}
  
 @media only screen and (max-width: 1000px){
    .first_column{
        height: 40%;
        width: 50%;
    }

    .second_column{
        height: 40%;
        width: 50%;
    }

    .second_column:after{
        content: '';
        border-left: 1px solid var(--footer-line-color);
        position: absolute;
        height: calc(100% - var(--footer-spacing));
        top: calc(var(--footer-spacing)/2);
    }
    
    .third_column{
        height: 40%;
        width: 100%;
        position: relative;
        border-left: none;
    }
    .third_column:after{
        border-left: none;
        content: '';
        border-top: 1px solid var(--footer-line-color);
        position: absolute;
        width: calc(100% - var(--footer-spacing));
        left: calc(var(--footer-spacing)/2);
        top: 0;
    }
    .mission-statement-title{
        height: 10%;
    }
    .text-box{
        height: 60%;
    }

    .button{
        font-size: small;
    }
 }



 @media only screen and (max-width: 800px){
    .filler-height-200{
        min-height: 300px;
        max-height: 300px;
    }
    .first_column{
        width: 100%;
        height: 30%; 
    }
    .second_column{
        width: 100%;
        height: 30%;
    }
    .second_column:after{
        border-left: none;
        content: '';
        border-top: 1px solid var(--footer-line-color);
        position: absolute;
        width: calc(100% - var(--footer-spacing));
        left: calc(var(--footer-spacing)/2) ;
        top: 0;
    }
    .third_column{
        width: 100%;
        height: 30%;
    }
    .Bar{
        width: 100%;
        height: 10%;
    }

 }