.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 34px;
    color:black;
}

/* Create the lines coming out of h2 */
.banner:before,
.banner:after {
  content: '';
  border-top: 5px solid;
  flex: 1 0;
}

.banner:after {
  margin: 0 210px 0 80px;
}

.banner:before{
    margin: 0 80px 0 220px;
}